<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ushier.hospital.illness.web.mapper.DepartmentMapper">


    <select id="pageQuery" resultType="com.ushier.hospital.illness.web.entity.DepartmentEntity">
        SELECT
          *
        FROM _department
        WHERE 1 = 1 AND hos_id = #{hosId}
        LIMIT ${position}, ${length};
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM _department WHERE hos_id = #{hosId}
    </select>

    <insert id="insert" parameterType="com.ushier.hospital.illness.web.entity.DepartmentEntity">
        INSERT INTO _department
        (hos_id, `name`, `desc`, normal_num, expert_num, normal_money, expert_money)
        VALUES
        (
        #{hosId},
        #{name, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler},
        #{desc, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler},
        #{normalNum},
        #{expertNum},
        #{normalMoney},
        #{expertMoney}
        );
    </insert>

    <update id="update" parameterType="com.ushier.hospital.illness.web.entity.DepartmentEntity">
        UPDATE _department
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
            <if test="normalNum != null">
                `normal_num` = #{normalNum},
            </if>
            <if test="expertNum != null">
                `expert_num` = #{expertNum},
            </if>
            <if test="normalMoney != null">
                `normal_money` = #{normalMoney},
            </if>
            <if test="expertMoney != null">
                `expert_money` = #{expertMoney},
            </if>
        </set>
        WHERE id = #{id};
    </update>

</mapper>