<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ushier.hospital.illness.web.mapper.HospitalMapper">


    <select id="pageQuery" resultType="com.ushier.hospital.illness.web.entity.HospitalEntity">
        SELECT
          *
        FROM _hospital
        WHERE 1 = 1
        LIMIT ${position}, ${length};
    </select>

    <select id="queryCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM _hospital
    </select>

    <insert id="insert" parameterType="com.ushier.hospital.illness.web.entity.HospitalEntity">
        INSERT INTO _hospital
        (`name`, address, tel, pic, `desc`)
        VALUES
        (
        #{name, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler},
        #{address, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler},
        #{tel, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler},
        #{pic, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler},
        #{desc, jdbcType=VARCHAR, typeHandler=com.ushier.hospital.illness.web.handler.StringNullValueHandler}
        );
    </insert>

    <update id="update" parameterType="com.ushier.hospital.illness.web.entity.HospitalEntity">
        UPDATE _hospital
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="tel != null">
                `tel` = #{tel},
            </if>
            <if test="pic != null">
                `pic` = #{pic},
            </if>
            <if test="desc != null">
                `desc` = #{desc},
            </if>
        </set>
        WHERE id = #{id};
    </update>
</mapper>