<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ushier.hospital.illness.web.mapper.RegistrationMapper">


    <insert id="insert" parameterType="com.ushier.hospital.illness.web.entity.RegistrationEntity"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO _registration
        (code, money, hos_id, dep_id, doctor_id, uid, order_date, medical_time, create_time, `type`)
        VALUES
        (
        #{code},
        #{money},
        #{hosId},
        #{depId},
        #{doctorId},
        #{uid},
        #{orderDate},
        #{medicalTime},
        NOW(),
        #{type}
        );
    </insert>

    <select id="queryByCode" resultType="com.ushier.hospital.illness.web.dto.RegistrationDTO">
        SELECT a.*, b.name AS hos_name, c.name AS dep_name, d.name AS doctor_name, e.name AS u_name, e.phone AS u_phone
        FROM _registration a
        LEFT JOIN _hospital b ON a.hos_id = b.id
        LEFT JOIN _department c ON a.dep_id = c.id
        LEFT JOIN _doctor d ON a.doctor_id = d.id
        LEFT JOIN _app_user e ON a.uid = e.id
        WHERE a.code = #{code}
        LIMIT 1;
    </select>
</mapper>