<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mapper.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ushier.hospital.illness.web.mapper.RoleMapper">

    <insert id="insert" parameterType="com.ushier.hospital.illness.web.entity.RoleEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO _role (name, create_time, update_time)
        VALUES (#{name}, #{createTime}, #{updateTime});
    </insert>

    <update id="update" parameterType="com.ushier.hospital.illness.web.entity.RoleEntity">
        UPDATE _role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE id = #{id};
    </update>

</mapper>